body {
    /* background-color: rgb(124, 124, 124); */
    padding: 3px 20px;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    /* height: 100%; */
   /*  font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
}
h1{
    font-family: 'IBM Plex Sans', sans-serif; 
    color: #959290;

}
h3{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}
h1#invalid{
    height: 20px;
    font-size: 10px;
    color: #f12711;
    
    
}
#wrapper{
    position: absolute;
    background: #fcfcfc;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 400px; */
}

div#screenLogo svg{
    width: 100px;
    height: 100px;
}
div#screenLogo svg .fill{
    fill: #1CB5E0;
}

#welcome_screen{
    position: relative;
    display: inline;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

#welcome_screen input{
    font-family: 'Open Sans', sans-serif;
    max-height: 50px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 4px #00000005;
    border-width: 0.5px;
      outline: 0;
    border-width: 0 0 1px;
     padding: 0 0 0 10px;
       margin-top:15px;
     padding-top: 20px;
    padding-bottom: 5px;
}
#welcome_screen input:focus {
    border-color: #56CCF2;
    background-color: rgba(86, 203, 242, 0.034);
    box-shadow: 0px 2px 10px rgba(86, 203, 242, 0.411);
  }

#welcome_screen ::-webkit-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 5px;
}
button{
    background:#afe35b;
    border: none;
    width: 170px;
    height: 30px;
   border-radius: 15px;
   font-size: 17px;
   color: #fff;
   box-shadow: 2px 2px 4px #7eb920;
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight:700;
   transition-duration: 200ms;
   margin-top: -20px;
   
   }
   button:hover{
       transform: scale(1.2,1.2);
       box-shadow: 4px 4px 16px #7eb920;
       transition-duration: 200ms;
       margin-bottom: -20px;
   }


h1#welcome{
    padding: 0;
    /* margin: 0; */
    /* top: 0; */

}





#wrapper_home{
    position: absolute;
    background: #fcfcfc;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home_screen{
    /* position: absolute; */
    /* display: flex; */
    margin-top: 80px;
    width: 50%;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
}

#updates{
    display: inline-flex;
    background-color: #ffffff;
    /* height: 150px; */
    border-radius: 50px;
    box-shadow: 0px 0px 20px #bebebe;
    margin-top: -50px;
    margin-bottom: 20px;
    padding: 5px 5px;
}
#updates img{
    border-radius: 50px;
    padding-right: 10px;
}

h1#topMessage{
    font-family: 'Open Sans', sans-serif;
    /* display:flex; */
    top: 0;
    padding-right: 10px;
    font-size: 18px;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    /* text-overflow: ellipsis; */

}

h1#current{
    position: absolute;
    /* display:inline-block; */
    margin: auto;
    /* float: left; */
    font-family: 'Open Sans', sans-serif;
    /* text-shadow: 1px 1px 4px; */
    font-size: 20px;
    /* padding-bottom: 20px; */

}
#outer_wrapper{
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    /* margin-top: -50px; */
    margin-left: -150px;
    padding-top: 20px;

    

}
.green#outer{
    background: #385a94;
   border-radius: 50%;
   height: 300px;
   width: 300px;
   /* position: relative; */
   display: flex;
   align-items: center;
   justify-content: center;
   /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
   background: linear-gradient(-45deg,#38ef7d,#afe35b, #45B649);

   background-size: 400% 400%;
     animation: Gradient 3s ease-in infinite,breathing 5s ease-in-out infinite;
   box-shadow:0px 0px 50px #45B649;
   /* transition: background 1000ms linear; */
   /* transition-duration: 1000ms;
   transition-timing-function: ease-in-out; */
   transition:all 1s;

}

.blue#outer{
    background: #385a94;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg, #009ace, #7dd3eb,#2F80ED 90%);
 
    background-size: 400% 400%;
      animation: Gradient 1s ease-in-out infinite,pulse_animation 1s ease-in-out infinite ;
    box-shadow:0px 0px 50px #04b9eb;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 1000ms linear; */

}

.red#outer{
    background: #385a94;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg,#f12711 , #f5af19,#F00000 90% );
   
 
    background-size: 400% 400%;
      animation: Gradient 1s ease-in-out infinite,pulse_animation 1s infinite  ;
    box-shadow:0px 0px 50px #F00000;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 1000ms linear; */
    /* animation-name: ; */
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
@keyframes breathing {
    0% {transform: scale(0.9);}
    25% {transform: scale(1);}
    50% {transform: scale(0.9);}  
    75% {transform: scale(1);}
    100% {transform: scale(0.9);}
  }
  




#inner{
    position: absolute;
    background: #f1f1f1;
    border-radius: 50%;
    height: 250px;
    width: 250px;

   /*
    Put top edge and left edge in the center
   */
   /* top: 50%; */
   /* left: 50%; */
   /* margin: -150px 0px 0px -150px; */
   /* text-align: center; */
   display: flex;
align-items: center;
justify-content: center;
box-shadow:0px 0px 20px rgba(0, 0, 0, 0.377);

}
h1#tempo
{
    position: flex;
    /* background: #ffffff; */
    /* display: inline-block; */
    /* margin: auto;
    top:0;
			left:0; */



}
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
     width: 250px;
    height: 10px;
    background: linear-gradient(90deg,#1CB5E0 ,#56CCF2,  #ffffff, #f5af19,#f12711 );
    border-radius: 5px;
    opacity:1;
    margin: 40px 10px;
    
    box-shadow: 0px 6px 8px rgba(49, 49, 49, 0.342) ;
}
#slider:hover{
    opacity:1;

}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
    /* outline-width: 1px;border */
    border-style: double;
    border-width: 4px;
    border-color: #9c9b9b;
    
}


#fanControl{
    /* height: 200px; */
    width: 100%;
    /* background: #1CB5E0; */
    display: flex;
    /* text-align: center; */
    /* padding: 50px 0px; */
    align-items: center;
justify-content: center;
    
}
div#fan{
    /* float:left; */
    margin: 25px 10px;
}
div#fan svg{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 40px;
    height: 40px;
}
div#fan svg .fill
{
    fill: rgb(168, 168, 168);
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#nav{
    position:fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(185, 215, 223, 0.116);
    top: 0;
    box-shadow:0 4px 16px rgba(28, 181, 224, 0.479);
    margin-bottom: 40px;

}
#navLogo{
    float :left;
    margin-left: 50px;
    margin-top: 20px;
}
div#navLogo svg{
    width: 60px;
    height: 60px;
}
h2#logoName{
    font-family: 'IBM Plex Sans', sans-serif; 
    color: #959290;
    margin-left: 130px;
}
div#navLogo svg .fill{
    fill: #1CB5E0;
}





#wrapper_alert{
    position: absolute;
    background: #fcfcfc;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
#alert{
    /* align-content: center; */
    /* justify-content: center; */
    position: relative;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 50px;
    width:60%;
    box-shadow: 2px 2px 25px #6e6e6e;
    /* height: 50%; */

}

div#warning svg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    height: 100px;
}

div#warning svg .fill{
    fill: rgb(231, 216, 0);
}
#action{
    text-align: center;

}

h1#final{
    text-align: center;
    font-size: 25px;
}

button#emergency{
    background-color: #f12711;
    margin: 0 20px;
    box-shadow: 2px 2px 4px #f1271193;

}
button#police{
    background-color: #2F80ED;
    margin: 0 20px;
    box-shadow: 2px 2px 4px rgba(47, 129, 237, 0.541);
}