body {
    /* background-color: rgb(124, 124, 124); */
    padding: 3px 20px;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    /* height: 100%; */
   /*  font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
}
h1{
    font-family: 'IBM Plex Sans', sans-serif; 
    color: #959290;

}
h3{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}
h1#invalid{
    height: 20px;
    font-size: 10px;
    color: #f12711;
    
    
}
#wrapper{
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 400px; */
}
#logo{
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
 
}

#welcome_screen{
    position: relative;
    display: inline;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

#welcome_screen input{
    font-family: 'Open Sans', sans-serif;
    max-height: 50px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 4px #00000005;
    border-width: 0.5px;
      outline: 0;
    border-width: 0 0 1px;
     padding: 0 0 0 10px;
       margin-top:15px;
     padding-top: 20px;
    padding-bottom: 5px;
}
#welcome_screen input:focus {
    border-color: #56CCF2;
    background-color: rgba(86, 203, 242, 0.034);
    box-shadow: 0px 2px 10px rgba(86, 203, 242, 0.411);
  }

#welcome_screen ::-webkit-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 5px;
}
button{
    background:#afe35b;
    border: none;
    width: 170px;
    height: 30px;
   border-radius: 15px;
   font-size: 17px;
   color: #fff;
   box-shadow: 2px 2px 4px #7eb920;
   font-family: 'IBM Plex Sans', sans-serif;
   font-weight:700;
   transition-duration: 200ms;
   margin-top: -20px;
   
   }
   button:hover{
       transform: scale(1.2,1.2);
       box-shadow: 4px 4px 16px #7eb920;
       transition-duration: 200ms;
       margin-bottom: -20px;
   }


h1#welcome{
    padding: 0;
    /* margin: 0; */
    /* top: 0; */

}





#wrapper_home{
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home_screen{
    position: relative;
    display: inline;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}
h1#topMessage{
    font-size: 15px;
}
#outer{
    position: relative;
    display: inline;
    text-align: center;
    

}
.green#outer{
    background: #385a94;
   border-radius: 50%;
   height: 300px;
   width: 300px;
   /* position: relative; */
   display: flex;
   align-items: center;
   justify-content: center;
   /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
   background: linear-gradient(-45deg,#38ef7d,#afe35b, #45B649);

   background-size: 400% 400%;
     animation: Gradient 3s ease-in infinite;
   box-shadow:0px 0px 50px #45B649;
   /* transition: background 1000ms linear; */
   /* transition-duration: 1000ms;
   transition-timing-function: ease-in-out; */
   transition:all 1s;

}

.blue#outer{
    background: #385a94;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg, #56CCF2, #1CB5E0,#2F80ED 90%);
 
    background-size: 400% 400%;
      animation: Gradient 1s ease-in-out infinite,pulse_animation 1s ease-in-out infinite ;
    box-shadow:0px 0px 50px #385a94;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 1000ms linear; */

}

.red#outer{
    background: #385a94;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg,#f12711 , #f5af19,#F00000 90% );
   
 
    background-size: 400% 400%;
      animation: Gradient 1s ease-in-out infinite,pulse_animation 1s ease-in-out infinite  ;
    box-shadow:0px 0px 50px #385a94;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 1000ms linear; */
    /* animation-name: ; */
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}




#inner{
    position: absolute;
    background: #f1f1f1;
    border-radius: 50%;
    height: 250px;
    width: 250px;

   /*
    Put top edge and left edge in the center
   */
   /* top: 50%; */
   /* left: 50%; */
   /* margin: -150px 0px 0px -150px; */
   /* text-align: center; */
   display: flex;
align-items: center;
justify-content: center;
box-shadow:0px 0px 40px rgba(36, 36, 36, 0.233);

}
h1#tempo
{
    position: flex;
    /* background: #ffffff; */
    /* display: inline-block; */
    /* margin: auto;
    top:0;
			left:0; */



}
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
     width: 250px;
    height: 10px;
    background: linear-gradient(90deg,#1CB5E0 ,#56CCF2,  #ffffff, #f5af19,#f12711 );
    border-radius: 10px;
    opacity:1;
    margin: 35px 10px;
}
#slider:hover{
    opacity:1;

}
#slider::-webkit-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#fanControl{
    /* height: 200px; */
    /* width: 500px; */
    /* background: #1CB5E0; */
    display: inline;
    
}
div#fan{
    float:left;
    margin: 25px 10px;
}
div#fan svg{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 30px;
    height: 30px;
}
div#fan svg .fill
{
    fill: rgb(168, 168, 168);
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


#nav{
    position:fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(28, 181, 224, 0.116);
    top: 0;
    box-shadow:0 4px 16px rgba(28, 181, 224, 0.479);

}
#navLogo{
    float :left;
    margin-left: 50px;
    margin-top: 20px;
}
div#navLogo svg{
    width: 60px;
    height: 60px;
}
h2#logoName{
    font-family: 'IBM Plex Sans', sans-serif; 
    color: #959290;
    margin-left: 130px;
}
div#navLogo svg .fill{
    fill: #1CB5E0;
}