body {
    background-color: rgb(124, 124, 124);
    padding: 3px 20px;
    font-size: 16pt;
}

#welcome_screen{
    position: absolute;
}

#home_screen{
    position: absolute;
}
.green#outer{
    background: #385a94;
   border-radius: 50%;
   height: 300px;
   width: 300px;
   /* position: relative; */
   display: flex;
   align-items: center;
   justify-content: center;
   /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
   background: linear-gradient(-45deg,#38ef7d,rgb(175, 227, 91), #45B649);

   background-size: 400% 400%;
     animation: Gradient 3s ease-in infinite;
   box-shadow:0px 0px 50px #45B649;
   /* transition: background 1000ms linear; */
   /* transition-duration: 1000ms;
   transition-timing-function: ease-in-out; */
   transition:all 1s;

}

.blue#outer{
    background: #385a94;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg, #56CCF2, #1CB5E0,#2F80ED 90%);
 
    background-size: 400% 400%;
      animation: Gradient 1s ease-in-out infinite;
    box-shadow:0px 0px 50px #385a94;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 1000ms linear; */
}

.red#outer{
    background: #385a94;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg,#f12711 , #f5af19,#F00000 90% );
   
 
    background-size: 400% 400%;
      animation: Gradient 1s ease-in-out infinite;
    box-shadow:0px 0px 50px #385a94;
    /* transition-duration: 1000ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 1000ms linear; */
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#inner{
    position: absolute;
    background: #e9e9e9;
    border-radius: 50%;
    height: 250px;
    width: 250px;

   /*
    Put top edge and left edge in the center
   */
   /* top: 50%; */
   /* left: 50%; */
   /* margin: -150px 0px 0px -150px; */
   /* text-align: center; */
   display: flex;
align-items: center;
justify-content: center;
box-shadow:0px 0px 40px rgba(36, 36, 36, 0.233);

}
h1#tempo
{
    position: flex;
    /* background: #ffffff; */
    /* display: inline-block; */
    /* margin: auto;
    top:0;
			left:0; */



}
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
     width: 300px;
    height: 20px;
    background: linear-gradient(90deg,#1CB5E0 ,#56CCF2,  #ffffff, #f5af19,#f12711 );
    border-radius: 10px;
    opacity: 10%;
}
